<div class="news_l">
    <ul class="news_cat">
        <cat type="n" pid="1">
        <?php $cv = $_GET['id'] ? $_GET['id'] : 2; ?>
        <li class="<if condition="$cv eq $cid">news_on</if>">
            <a href="{:U('News/index',array('id'=>$cid))}" title="">
                <i></i>
                <span>{$name}</span>
                <em>>></em>
            </a>
        </li>
        </cat>

        <li class="news_rcm">
            <div class="news_rcm_t">
                <i></i>
                <span>推荐新闻</span>
            </div>
            <ul>
                <news  limit="8" order="click DESC" >
                <li>
                    <a href="{:U('news/read',array('id'=>$new['id']))}" title="{:$new['title']}">{:cutStr($new['title'],24,0)}</a>
                </li>
                </news>
            </ul>
        </li>
    </ul>
</div>