<include file="Base:header" />


<!--content开始-->
    <div id="content">
        <include file="Base:inside" />

        <div class="introduction bgf8 pb30">
            <div class="main_t center tac">
                <b>{:L('T_INTRODUCE')}</b>
            </div>
            <div class="contact center">
                <div class="contact_ty9 contact_ty11">
                    {$jkdjs[0].content}
                </div>
                <div class="contact_ty8">
                    <div class="introduction_list clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3 mt20">
                                <b>{$jkdjs[1].page_name}</b>
                            </div>
                        </div>
                    </div>
                    <div class="contact_ty9">
                    	{$jkdjs[1].content}
                    </div>
                </div>
                <div class="contact_ty8">
                    <div class="introduction_list introduction_list2 clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3 mt20">
                                <b>{$jkdjs[2].page_name}</b>
                            </div>
                        </div>
                    </div>
                    <div class="contact_ty9">
                    	{$jkdjs[2].content}
                    </div>
                </div>
                <div class="contact_ty8">
                    <div class="introduction_list introduction_list3 clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3 mt20">
                                <b>师资团队</b>
                            </div>
                        </div>
                    </div>
                    <div class="contact_ty9">
                    <div class="contact_ty2 clearfix">
                    <div class="contact_ty3 fl">
                        <!-- 上下图片展示,最多3张图 -->
                        <div class="album clearfix">
                            <div class="album_l wimg fl">
                                <img src="__IMG__/pic_30.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="contact_ty4 fl">
                        <div class="contact_ty5">
                            <b>张启明</b>
                        </div>
                        <div class="contact_ty6">
                        	{$jkdjs[3].content}
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="contact_ty4 fl">
                        <div class="contact_ty5">
                            <b>蔡国其</b>
                        </div>
                        <div class="contact_ty6">
                        	{$jkdjs[4].content}
                        </div>
                    </div>
                    <div class="contact_ty7 fl">
                        <!-- 上下图片展示,最多3张图 -->
                        <div class="album clearfix">
                            <div class="album_l wimg fl">
                                <img src="__IMG__/pic_29.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--content结束-->
<include file="Base:footer" />