<include file="Base:header" />

<!--content开始-->
    <div id="content">
        <include file="Base:inside" />
        <!-- 服务介绍 -->
        <div class="introduction service bgf8">
            <div class="main_t center tac">
                <b>{:L('T_SERVICE')}</b>
            </div>
            <div class="introduction_h1 center">
                <div class="introduction_list clearfix">
                    <i class="icon fl"></i>
                    <div class="introduction_ty2 fl">
                        <div class="introduction_ty3 mt20">
                            <b>九口袋学员四大服务</b>
                        </div>
                    </div>
                </div>
                <ul class="service_ul clearfix">
                    <li>
                        <div class="service_ty1 wimg">
                            <img src="__IMG__/fw_01.jpg" alt="" />
                        </div>
                        <div class="service_ty2 tac">
                            {$page[0].page_name}
                        </div>
                        <div class="service_ty3 tac">
                        </div>
                        <div class="service_ty4">
                            {$page[0].content}
                        </div>
                    </li>
                    <li>
                        <div class="service_ty1 wimg">
                            <img src="__IMG__/fw_02.jpg" alt="" />
                        </div>
                        <div class="service_ty2 tac">
                            {$page[1].page_name}
                        </div>
                        <div class="service_ty3 tac">
                        </div>
                        <div class="service_ty4">
                            {$page[1].content}
                        </div>
                    </li>
                    <li>
                        <div class="service_ty1 wimg">
                            <img src="__IMG__/fw_03.png" alt="" />
                        </div>
                        <div class="service_ty2 tac">
                            {$page[2].page_name}
                        </div>
                        <div class="service_ty3 tac">
                        </div>
                        <div class="service_ty4">
                            {$page[2].content}
                        </div>
                    </li>
                    <li>
                        <div class="service_ty1 wimg">
                            <img src="__IMG__/fw_04.jpg" alt="" />
                        </div>
                        <div class="service_ty2 tac">
                            {$page[3].page_name}
                        </div>
                        <div class="service_ty3 tac">
                        </div>
                        <div class="service_ty4">
                            {$page[3].content}
                        </div>
                    </li>
                </ul>
                <div class="service_ty6">
                    <div class="s_circle clearfix pr">
                        <div class="s_circle_tl fl"></div>
                        <div class="s_circle_tr fl"></div>
                        <div class="s_circle_bl fl"></div>
                        <div class="s_circle_br fl"></div>
                        <span class="s_circle_c pa tac"><b>200%收入！</b></span>
                    </div>
                </div>
            </div>
            <div class="introduction_h1 bgf">
                <div class="center">
                    <div class="introduction_list introduction_list2 clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3">
                                <b>{$page[4].page_name}</b>
                            </div>
                            <div class="introduction_ty4">
                                {$page[4].content}
                            </div>
                        </div>
                    </div>
                    <div class="service_ty6 pr">
                        <ul class="service_ul2">
                            <li class="service_list1"></li>
                            <li class="service_list2"></li>
                            <li class="service_list3"></li>
                            <li class="service_list4"></li>
                            <li class="service_list5"></li>
                            <li class="service_list6"></li>
                            <li class="service_list7"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="introduction_h2">
                <div class="center">
                    <div class="introduction_list introduction_list3 clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3 mt20">
                                <b>{$page[5].page_name}</b>
                            </div>
                        </div>
                    </div>
                    <!-- 课程表 -->
                    <style>
                        table {border-collapse: collapse;font-size: 12px;color: #666;background: #fff;}
                        td {margin: 0px;text-align: center;padding: 10px 0;}
                        th {line-height: 30px;font-size: 14px;}
                    </style>
                    <div class="kcb">
                    	{$page[5].content}
                    </div>
                </div>
            </div>
            <div class="introduction_h6 pr wimg">
                <div class="introduction_ty24 pa">
                    <div class="center">
                        <!-- 我们最近的课程安排是在<span class="css29343">2014</span>年<span class="css29343">12</span>月<span class="css29343">12</span>日， -->
                        九口袋课堂欢迎您
                        <br />心动不如行动，赶快到现场参与我们的活动吧！
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--content结束-->


<include file="Base:footer" />