<!--content开始-->
<div id="content">
    <include file="Common:inside" />
    <div class="main_t">
        <div class="main_c">
            <b>NEWS</b>
            <em>新闻动态</em>
        </div>
    </div>
    <div class="news center">
        <include file="News:bar" />
        <div class="news_r news_con">
            <div class="tit">{$info.title}</div>
            <div class="dcz">
                <div class="date">
                    <i></i>
                    <span>{$info['published']|date='Y-m-d',###}</span>
                </div>
                <div class="click">
                    <i></i>
                    <span>{$info['click']}</span>
                </div>
                <div class="zoom">
                    <em>A<sup>-</sup></em>
                    <em>A<sup>+</sup></em>
                </div>
            </div>
            <div class="txt">
                {$info['content']}
            </div>
            <div class="news_bs">
                <div class="share">分享到：<div class="bshare-custom" style="display:inline-block;*display:inline;zoom:1;"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=7afd94bb-a7e8-4d65-9936-979b687f14eb&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
                <div class="back">
                    <a href="{:U('News/index')}" title="返回列表">
                        <i></i>
                        <span>返回列表</span>
                    </a>
                </div>
            </div>
            <div class="news_np">
                <div>
                    <a href="{:$prev == null ? 'javascript:':U('News/read',array('id'=>$prev[id]))}" title="{$prev.title}">
                        <i></i>
                        <span>上一篇： {:$prev[title] == null ?'没有了':$prev[title]}</span>
                    </a>
                </div>
                <div>
                    <a href="{:$next == null ? 'javascript:':U('News/read',array('id'=>$next[id]))}" title="{$next.title}">
                        <i></i>
                        <span>下一篇： {:$next[title] == null ?'没有了':$next[title]}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content结束-->

