<div class="news_l">
    <ul class="news_cat">
        <li class="<if condition="$cv eq $cid">news_on</if>">
            <a href="{:U('News/index',array('id'=>$cid))}" title="">
                <i></i>
                <span>胡明烈&nbsp;&nbsp;&nbsp;&nbsp;创始合伙人</span>
            </a>
        </li>
        <li class="<if condition="$cv eq $cid">news_on</if>">
        <a href="{:U('News/index',array('id'=>$cid))}" title="">
            <i></i>
            <span>李喆&nbsp;&nbsp;&nbsp;&nbsp;创始合伙人</span>
        </a>
        </li>
        <li class="<if condition="$cv eq $cid">news_on</if>">
        <a href="{:U('News/index',array('id'=>$cid))}" title="">
            <i></i>
            <span>杨倩倩&nbsp;&nbsp;&nbsp;&nbsp;创始合伙人</span>
        </a>
        </li>
    </ul>
</div>