<include file="Base:header" />


<div id="content">
    <div class="banner">
        <div class="flexslider">
            <ul class="slides">
            <volist name="ad_info" id="vo">
                <li style="background:url(__UPLOAD__/picture/{$vo.ad_img}) top center;"><a href="#" target="_blank" title="{$vo.ad_name}"></a></li>
            </volist>
            </ul>
        </div>
    </div>
    <div class="content_t">
        <div class="cont_h1">
            <div class="center clearfix pr">
                <div class="fl cont_ty2">
                    <div class="cont_ty8">
                        <b>网络营销只听课=</b>
                    </div>
                    <div class="cont_ty7">
                        <b>无数课程</b>
                        学时激动，学完感动，回家一动不动
                    </div>
                    <div class="cont_ty8">
                        <b>网络营销落地需要:</b>
                    </div>
                    <div class="cont_ty10">
                        <div class="cont_ty11 clearfix">
                            <div class="cont_ty12 fl">全网营销<br>基础扫盲</div>
                            <div class="cont_ty12 fl">全网营销<br>系统解析</div>
                            <div class="cont_ty12 fl" style="width:90px;">落地实操，<br>专家指导&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="fl cont_ty1">
                    <div class="cont_ty3"></div>
                    <div class="cont_ty4">
                        <ul>
                            <li class="cont_i1">
                                <i></i>
                                <div class="cont_ty5">
                                    课程大纲
                                </div>
                                <div class="cont_ty6 tal">
                                    <weblock name="kcdg" />
                                </div>
                            </li>
                            <li class="cont_i2">
                                <i></i>
                                <div class="cont_ty5">
                                    解决方案
                                </div>
                                <div class="cont_ty6 tac">
                                    <weblock name="jjfa" />
                                </div>
                            </li>
                            <li class="cont_i3">
                                <i></i>
                                <div class="cont_ty5">
                                    受训企业
                                </div>
                                <div class="cont_ty6 tal">
                                    <weblock name="sxqy" />
                                </div>
                            </li>
                            <li class="cont_i4">
                                <i></i>
                                <div class="cont_ty5">
                                    课程试听
                                </div>
                                <div class="cont_ty6">
                                    <weblock name="kcst" />
                                    免费报名热线<br>{$site.tel}
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="cont_h1bg pa"></div>
                </div>
            </div>
            <div class="cont_h2">
                <div class="center">
                    <div class="cont_ty13"><b>我们还帮助您<span style="color:#f8bc06">100%</span>落地</b></div>
                    <div class="cont_ty14">
                        我们有专业的老师为您的行业量身定做一套方案，一对一辅导，帮您落地！<br>
                    </div>
                </div>
                <div class="cont_ty15">
                    <div class="center clearfix">
                        <div class="cont_ty16 fl">
                            <ul class="cont_ty19 cont_ul1">
                                <li class="pr">
                                    <b>学前班</b>
                                    <span><weblock name="xqb" /></span>
                                    <i></i>
                                </li>
                                <li class="pr">
                                    <b>系统班</b>
                                    <span><weblock name="xtb" /></span>
                                    <i></i>
                                </li>
                                <li class="pr">
                                    <b>落地班</b>
                                    <span><weblock name="ldb" /></span>
                                    <i></i>
                                </li>
                            </ul>
                        </div>
                        <div class="cont_ty17 fl">

                        </div>
                        <div class="cont_ty18 fl">
                            <ul class="cont_ty19 cont_ul2">
                                <li class="pr">
                                    <div><b>沙龙</b></div>
                                    <span><weblock name="sl" /></span>
                                    <i></i>
                                </li>
                                <li class="pr">
                                    <div><b>专家咨询</b></div>
                                    <span><weblock name="zjzx" /></span>
                                    <i></i>
                                </li>
                                <li class="pr">
                                    <div><b>资源共享</b></div>
                                    <span><weblock name="zygx" /></span>
                                    <i></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_h3">
                <div class="center">
                    <div class="cont_ty20"></div>
                <ul class="diamond pr">
                    <li class="diamond_01 diamond_on">
                        团队入驻后
                    </li>
                    <li class="diamond_02">
                        计划制专业培训
                    </li>
                    <li class="diamond_03">
                        53名专职老师<br />单独指导
                    </li>
                    <li class="diamond_04">
                        复制九口袋<br>专业的体制
                    </li>
                    <li class="diamond_05">
                        阶段性<br>专家老师考核
                    </li>
                    <li class="diamond_06">
                        免费共享<br>各类网络、媒体资源
                    </li>
                    <li class="diamond_07">
                        100%保证落地！
                    </li>
                </ul>
                <ul class="kvideo_ty13 clearfix">
                <news limit="8" where="is_recommend=1 and cid=58" order="id DESC" >
                    <li class="pr">
                        <div class="kvideo_ty21">
                            <div class="kvideo_ty22 wimg pa">
                                <a href="{:U('news/read',array('id'=>$new['id']))}" title="">
                                    <img src="{:get_default_img($new['image_id'])}" alt="" />
                                </a>
                            </div>
                            <div class="kvideo_ty23">
                                <b>{:cutStr($new['title'],30,0)}</b>
                            </div>
                        </div>
                    </li>
                </news>
                </ul>
</div>
<div class="clearfix main">
<div class="main_left" id="left"></div>
<div class="main_mid" id="mid"></div>
<div class="main_right" id="right"></div>
</div>
</div>
<div class="cont_h4">
<div class="center clearfix">
    <div class="fl w50">
        <div class="cont_ty24 pl10">
            <b>学员案例</b>
            <i>>></i>
        </div>


    </div>
                <!-- <div class="fl w50">
                    <div class="cont_ty28"></div>
                </div> -->

            </div>
            <ul class="cont_ty29 center clearfix">
            <news limit="6" where="is_recommend=1 and cid=57" order="id DESC" >
                <li>
                    <a href="{:U('news/read',array('id'=>$new['id']))}" title="" target="_blank">
                        <div class="cont_ty30">
                            <img src="{:get_default_img($new['image_id'])}" alt="" />
                        </div>
                        <div class="cont_ty31">
                            {:cutStr($new['title'],30,0)}
                        </div>
                    </a>
                </li>
            </news>
            </ul>
             <ul class="xyfx" style="display:none;background: #ededed;width: 400px;margin: auto;">
             <news limit="6" where="is_recommend=1 and cid=57" order="id DESC" >
                <li>
                    <div class="cont_ty25 pl10">
                        {:cutStr($new['title'],30,0)}
                    </div>
                    <div class="cont_ty27">
                        介绍：{$new['summary']}
                    </div>
                </li>
            </news>

                            </ul>
                            <div class="cont_ty22 tac">
                                <a href="/case/Index.html" title="æŸ¥çœ‹æ›´å¤šåˆ†äº«" >点击查看更多>></a>
                            </div>
                        </div>
                        <!--ç¬¬äº”ä¸ªå†…å®¹å—-->
                        <div class="cont_h5">
                            <div class="center">
                                <div class="cont_ty20"></div>
                                <div class="cont_ty24 tac pt10 pl10">
                                    <b>公司荣誉</b>
                                    <i>>></i>
                                </div>
                                <ul class="cont_ty32 clearfix">
                                    <volist name="gsry" id="vo" key="k">
                                    <li><img src="{:get_default_img($vo['image_id'])}" title="{$vo.page_name}"/>
                                    </li>
                                    </volist>
                                </ul>
                            </div>
                            <div class="clearfix main">
                                <div class="main_left" id="left"></div>
                                <div class="main_mid" id="mid"></div>
                                <div class="main_right" id="right"></div>
                            </div>
                        </div>
                        <!--ç¬¬å…­ä¸ªå†…å®¹å—-->
                        <div class="cont_h6">
                            <div class="center clearfix">
                                <div class="fl w50">
                                    <div class="cont_ty33 pl10">
                                        <b>媒体报道</b>
                                        <i>>></i>
                                    </div>
                                    <div class="multipleColumn" style="margin:0 auto">
                                        <div class="hd">
                            <ul></ul>
                            </div>
                            <div class="bd">
                                <div class="ulWrap">
                                    <ul>
                                        <news  limit="6"  where="is_recommend=1 and cid=58" order="published DESC" >
                                        <li>
                                        <a href=""></a>
                                            <div class="pic">
                                                <a href="{:U('news/read',array('id'=>$new['id']))}" target="_blank"><img src="{:get_default_img($new['image_id'])}" /></a>
                                            </div>
                                            <div class="title">
                                                <a href='/infr/46.html' target="_blank" title="{$new['title']}">{:cutStr($new['title'],24,0)}...</a>
                                            </div>
                                        </li>
                                        </news>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl w50">
                        <div class="cont_ty34">
                            <div class="cont_ty35 clearfix">
                                <b class="fl">九口袋前言咨询</b>
                                <i class="fl"></i>
                            </div>
                            <ul class="cont_ty36">
                                <news  limit="5"  where="is_recommend=1 and cid=58" order="published DESC" >
                                <li class="clearfix">
                                    <a href="{:U('news/read',array('id'=>$new['id']))}" title="">
                                        <span class="fl">{:cutStr($new['title'],24,0)}...</span>
                                        <i class="fr">{$new['published']|date='Y-m-d',###}</i>
                                    </a>
                                </li>
                                </news>

                            </ul>
                        </div>
                        <div class="cont_ty34" style="margin-top:15px;">
                            <div class="cont_ty35 clearfix">
                                <b class="fl">九口袋媒体报道</b>
                                <i class="fl"></i>
                            </div>
                            <ul class="cont_ty36">

                            <news  limit="5"  where="is_recommend=1 and cid=58" order="published DESC" >
                                <li class="clearfix">
                                    <a href="{:U('news/read',array('id'=>$new['id']))}" title="">
                                        <span class="fl">【九口袋动态】{:cutStr($new['title'],24,0)}...</span>
                                        <i class="fr">{$new['published']|date='Y-m-d',###}</i>
                                    </a>
                                </li>
                                </news>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="400-1088-109" id="ttel">
        <!--ç¬¬ä¸ƒä¸ªå†…å®¹å—-->
        <div class="cont_h7 pr">
            <div class="center clearfix">
                <div class="cont_ty20"></div>
                <div class="fl cont_ty1">
                    <div class="cont_ty37 fl" id="pic_t">
                        <img src="__IMG__/pic_11.png" alt="" />
                    </div>
                    <div class="cont_ty38 fl">
                        <div class="cont_ty39" id="teacher">
                            主讲老师：                        </div>
                            <div class="cont_ty39" id="lesson">
                                课程主题：                        </div>
                                <div class="cont_ty39" id="date">
                                    课程时间：                        </div>
                                    <div class="cont_ty39" id="address">
                                        地址：                        </div>
                                        <div class="cont_ty39" id="tel">
                                            报名电话：400-1088-109                        </div>
                                            <div class="cont_ty39" id="content_x" style="height:120px;overflow:hidden;">
                                                内容简介：                        </div>
                                                <!-- <a href="tel:" title="" class="cont_ty40"> -->
                                                <a href="tencent://message/?uin=531789926" title="" class="cont_ty40">
                                                    <em>立即报名</em>
                                                    <i>Sign up immediately</i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="fl cont_ty2">
                                            <div class="calendar pr">
                                                <!-- å¹?-->
                                                <div class="year pa">
                                                    <b id="bbb1">2015</b>
                                                </div>
                                                <!-- æœ?-->
                                                <div class="month pa">
                                                    <b id="bbb2">03</b>
                                                </div>
                                                <!-- è‹±æ–‡æœ?-->
                                                <div class="emonth pa">
                                                    Mar                        </div>
                                                    <!-- æ˜ŸæœŸ -->
                                                    <ul class="week pa">
                                                        <li>Su</li>
                                                        <li>Mo</li>
                                                        <li>Tu</li>
                                                        <li>We</li>
                                                        <li>Th</li>
                                                        <li>Fr</li>
                                                        <li>Sa</li>
                                                    </ul>
                                                    <!-- æ—¥æœŸ -->
                                                    <ul class="date pa">
                                                        <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li><li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li><li>30</li><li>31</li>                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                $('.pid').click(function course_l(){
                                                 pid=$(this).html();

        // function course_l(){


            // alert(pid);
            var year = $('#bbb1').html();

            var mon = $('#bbb2').html();

           // var day = $('#day.html();
           // var day2 = $('#day2').html();
           var day = pid;


           // alert(year);
           // alert(mon);
           // alert(day1);
           // alert(day2);

           var URL = '/index';
           $.ajax({
            url: '/index/course_l.html', //提交访问的URL
            type: 'POST', //提交的方法
            dataType: 'json', //返回的内容的类型，由于PHP文件是直接echo的，那么这里就是text
            data: {year:year,mon:mon,day:day},
            error: function() { //如果出错，执行函数

                alert('Error loading XML document');
            },
            success: function(data) {
                var ttel = $("#ttel").val();
                document.getElementById('pic_t').innerHTML = "<img src='/Uploads/pictures/"+data.pic+"' alt='' />";
                document.getElementById('teacher').innerHTML = '主讲老师：'+data.teacher;
                document.getElementById('lesson').innerHTML = '课程主题：'+data.course_title;
                document.getElementById('date').innerHTML = '课程时间：'+data.course_time;
                document.getElementById('address').innerHTML = '地址：'+data.address;
                document.getElementById('tel').innerHTML = '报名电话：'+ttel;
                document.getElementById('content_x').innerHTML = '内容简介：'+data.content_syn;
            }
        });


});
</script>
<div class="clearfix main">
    <div class="main_left main_left2" id="left"></div>
    <div class="main_mid main_mid2" id="mid"></div>
    <div class="main_right main_right2" id="right"></div>
</div>
</div>
<!--ç¬¬å…«ä¸ªå†…å®¹å—-->
<div class="cont_h8">
    <div class="center clearfix">
        <div class="cont_ty23"></div>
        <div class="cont_ty41 tac">
            <b>以营销为核心整合互联网主流营销方式！</b>
        </div>
    </div>
</div>
<!--ç¬¬ä¹ä¸ªå†…å®¹å—-->
<div class="cont_h9">
    <div class="center">
        <div class="clearfix">
            <div class="cont_ty42 fl"></div>
            <div class="cont_ty43 tac fl">合作伙伴</div>
            <div class="cont_ty42 fl"></div>
        </div>
        <ul class="cont_ty44 clearfix">
            <volist name="hzhb" id="vo">
            <li>
                <img src="__UPLOAD__/picture/{$vo.ad_img}" alt="{$vo.ad_name}" title="{$vo.ad_name}" />
            </li>
            </volist>
        </ul>
    </div>
</div>

</div>
<!--contentç»“æŸ-->
<script type="text/javascript">
    jQuery(".multipleColumn").slide({titCell:".hd ul",mainCell:".bd .ulWrap",autoPage:true,effect:"leftLoop",autoPlay:true,vis:2});
</script>




<include file="Base:footer" />