<include file="Common:inside" />
<div class="pro_con">
    <cat type="p" pid="0" >
    <div class="pro_list">
        <div class="pro_list_t">
            <i>{$ename}</i>
            <span>{$name}</span>
        </div>
        <div class="pro_list_b">
            <ul>
                <volist name="list" id="vo" empty="此分类暂无相关信息">
                <if condition="$vo['cid'] eq $cid">
                <li>
                    <a href="{$vo['url']}" title="{:$vo['description']}" target="_blank">
                        <div class="box">
                            <img src="{:get_default_img($vo['image_id'])}" alt="{:$vo['description']}"/>
                        </div>
                        <span>{$vo.ename}</span>
                        <em>{$vo.description}</em>
                    </a>
                </li>
                </if>
                </volist>
            </ul>
        </div>
    </div>
    </cat>
</div>