<include file="Base:header" />
<!--content开始-->
    <div id="content">
        <include file="Base:inside" />
        <!-- 课程介绍 -->
        <div class="introduction">
            <div class="main_t center tac">
                <b>{:L('T_LESSON')}</b>
            </div>
            <div class="introduction_h1 center">
                <div class="introduction_list clearfix">
                    <i class="icon fl"></i>
                    <div class="introduction_ty2 fl">
                        <div class="introduction_ty3">
                            <b>{$page[0].page_name}</b>
                        </div>
                        <div class="introduction_ty4">
                            {$page[0].content}
                        </div>
                    </div>
                </div>
                <ul class="introduction_ty5 clearfix">
                    <li class="pr">
                        <div class="introduction_ty6 pa"><img src="__IMG__/jkd_20.png" class="tcircle" alt="" /></div>
                        <div class="introduction_ty7 icon pa"></div>
                        <div class="introduction_ty8 tac pa">
                            <b>{$page[1].page_name}</b>
                            <em>{$page[1].content}</em>
                        </div>
                    </li>
                    <li class="pr">
                        <div class="introduction_ty6 pa"><img src="__IMG__/jkd_20.png" class="tcircle" alt="" /></div>
                        <div class="introduction_ty7 icon_02 icon pa"></div>
                        <div class="introduction_ty8 tac pa">
                            <b>{$page[2].page_name}</b>
                            <em>{$page[2].content}</em>
                        </div>
                    </li>
                    <li class="pr">
                        <div class="introduction_ty6 pa"><img src="__IMG__/jkd_20.png" class="tcircle" alt="" /></div>
                        <div class="introduction_ty7 icon_04 icon pa"></div>
                        <div class="introduction_ty8 tac pa">
                            <b>{$page[3].page_name}</b>
                            <em>{$page[3].content}</em>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="introduction_h2 center">
                <div class="introduction_list introduction_list2 clearfix">
                    <i class="icon fl"></i>
                    <div class="introduction_ty2 fl">
                        <div class="introduction_ty3">
                            <b>{$page[4].page_name}</b>
                        </div>
                        <div class="introduction_ty4">
                            {$page[4].content}
                        </div>
                    </div>
                </div>
                <ul class="introduction_ty9 clearfix">
                    <li>
                        <i class="icon icon_05"></i>
                        <div class="introduction_ty10">
                            品牌营销系统
                        </div>
                        <div class="introduction_ty11">
                            <p>--低成本打造强力品牌</p>
                            <p>--品牌公信力的全网布局以及大网络时代下的
                                品牌基础建设</p>
                            <p>--第三方品牌塑造和品牌的自我造势</p>
                            <p>--自媒体的建设与品牌形象的建设</p>
                            <p>--O2O的品牌联动模式解析</p>
                            <p>--社会化媒体的品牌宣传</p>
                        </div>
                    </li>
                    <li>
                        <i class="icon icon_06"></i>
                        <div class="introduction_ty10">
                            展示型营销系统
                        </div>
                        <div class="introduction_ty11">
                            <p>--展示型营销系统解析</p>
                            <p>--产品核心卖点提炼与表达</p>
                            <p>--企业核心卖点的塑造与差异化表达</p>
                            <p>--展示方式与网站种类的选择</p>
                            <p>--网站首页架构的建设</p>
                            <p>--网站内容筛选</p>
                            <p>--网站表现手法解析</p>
                        </div>
                    </li>
                    <li>
                        <i class="icon icon_08"></i>
                        <div class="introduction_ty10">
                            社交化营销系统
                        </div>
                        <div class="introduction_ty11">
                            <p>--客户关系管理营销系统解析</p>
                            <p>--客户关系管理模式解析</p>
                            <p>--使用互联网工具进行关系管理方法解析
                            <p>--企业、个人微信管理方式及落地式模式解析</p>
                            <p>--社交媒体整合营销</p>
                            <p>--全网客户关系管理营销</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="introduction_h3">
                <div class="center">
                <div class="introduction_list introduction_list3 clearfix">
                    <i class="icon fl"></i>
                    <div class="introduction_ty2 fl">
                        <div class="introduction_ty3 mt20">
                            <b>不得不选我们的N大理由!</b>
                        </div>
                    </div>
                </div>
                <div class="introduction_ty14 introduction_ty16">
                    <b>{$page[5].page_name}</b>
                    <em>{$page[5].content}</em>
                </div>
                <div class="clearfix introduction_ty15">
                    <div class="introduction_ty14 w38 fl" style="text-indent: -5.3em;padding-left: 5.2em;">
                        <b>{$page[6].page_name}</b>
                        <em>{$page[6].content}</em>
                    </div>
                    <div class="introduction_ty14 w38 fl" style="padding-left: 5.5em;text-indent: -4.3em;width: 35%;">
                        <b>{$page[7].page_name}</b>
                        <em>{$page[7].content}</em>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="introduction_ty17 fl">
                        <div class="fl" style="margin:10px;">
                            <img src="__IMG__/jkd_18.jpg" alt="">
                        </div>
                        <div class="introduction_ty19">
                            <em>{$page[8].page_name}</em>—— {$page[8].content}
                        </div>
                    </div>
                    <div class="introduction_ty18 fl">
                        <div class="fl" style="margin:10px;">
                            <img src="__IMG__/jkd_19.jpg" alt="">
                        </div>
                        <div class="introduction_ty19">
                            <em>{$page[9].page_name}</em>—— {$page[9].content}
                        </div>
                    </div>
                </div>
                <div class="clearfix introduction_ty15">
                    <div class="introduction_ty14 w30 introduction_ty20 fl">
                        <b>{$page[10].page_name}</b>
                        <em>{$page[10].content}</em>
                    </div>
                    <div class="introduction_ty14 w30 fl" style="text-indent: -5.3em;padding-left: 5.2em;">
                        <b>{$page[11].page_name}</b>
                        <em>{$page[11].content}</em>
                    </div>
                </div>
                </div>
            </div>

            <div class="introduction_h6 pr wimg">
                <div class="introduction_ty24 pa">
                    <div class="center">
                        <!-- 我们最近的课程安排是在<span class="css29343">2014</span>年<span class="css29343">12</span>月<span class="css29343">9</span>日， -->
                        九口袋课堂欢迎您
                        <br />心动不如行动，赶快到现场参与我们的活动吧！
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--content结束-->
<include file="Base:footer" />