<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script>
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
            window.location.href = "http://yz.lighthousecapital.cn/wap";
        }
    </script>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=7|chrome=1" />
    <meta name="author" content="JKD TEAM">
    <title>{$webtitle}-{$site.name}</title>
    <meta name="keywords" content="{$info['keywords'] ? $info['keywords'] : $site.keyword}">
    <meta name="description" content="{$info['description'] ? $info['description'] : $site.description}">
    <link rel="dns-prefetch" href="{:C('WEB_ROOT')}">
    <link rel="shortcut icon" href="__ROOT__/favicon.ico">
    <link type="text/css" href="__PUBLIC__/Min/?f=__CSS__/base.css|<if condition="CONTROLLER_NAME eq Index">__CSS__/index.css<else />__CSS__/combo.css</if>" rel="stylesheet" />
    <!--[if !IE]> --><link href='http://www.youziku.com/webfont/NameCSS/29523' rel='stylesheet' type='text/css'/><!-- <![endif]-->
</head>

<body>
    <!--header开始-->
    <div id="header" class="clearfix">
        <div class="center">
            <!--logo开始-->
            <div class="logo">
                <a href="{:C('WEB_ROOT')}" title="远瞻投权"><img src="__IMG__/logo.png" alt="" /></a>
            </div>
            <div class="nav">
                <ul>
                    <nav posstion="top" order="sort DESC">
                    <li <if condition='$webtitle eq $nav_name'>class='nav_on'</if>>
                        <a href="<if condition='$action eq null'>{$link}<else />{:U($action)}</if>" title="{$nav_name}">
                            <span>
                                {:strtoupper($nav_rename)}
                            </span>
                            <em>
                                {$nav_name}
                            </em>
                        </a>
                    </li>
                    </nav>
                </ul>
            </div>
        </div>
        <!--logo结束-->
    </div>
    <!--header结束-->



