<include file="Base:header" />
<!--content开始-->
    <div id="content">
        <include file="Base:inside" />
        <!-- 课程试听 -->
        <div class="introduction kvideo">
            <div class="main_t center tac">
                <b>{:L('T_VIDEO')}</b>
            </div>
            <div class="introduction_h1 center">
                <div class="introduction_list clearfix">
                    <i class="icon fl"></i>
                    <div class="introduction_ty2 fl">
                        <div class="introduction_ty3 mt20">
                            <b>课程视频</b>
                        </div>
                    </div>
                </div>
                <div class="kvideo_ty1 clearfix">
                    <div class="kvideo_ty2 fl">
                        <div class="kvideo_ty3 wimg pr">
                            <img src="{:get_default_img($list[0]['image_id'])}" alt="" />
                            <div class="kvplayer pa">
                                <a href="{:U('video/read',array('id'=>$list[0]['id']))}" title="$list[0].title" target="_blank">
                                    <div class="kvplayer_a"><img src="__IMG__/jkd_40.png" alt="" /></div>
                                    <div class="kvplayer_b kvplayer_d"></div>
                                </a>
                            </div>
                        </div>
                        <div class="kvideo_ty4">
                            <div class="kvideo_ty5">
                                <div class="kvideo_ty6 clearfix">
                                    <div class="kvideo_ty7 fl">
                                        <b>九口袋课程试听</b>
                                    </div>
                                    <div class="kvideo_ty8 tar fr">
                                        {$list[0].published|date='Y月m日',###}
                                    </div>
                                </div>
                                <div class="kvideo_ty9">
                                    <b>域名网址：{$list[0].url}</b>
                                </div>
                                <div class="kvideo_ty10">
                                    课程介绍：</div>
                                <div class="kvideo_ty10 kvideo_ty11">
                                    {$list[0].content}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kvideo_ty12 fl">
                        <ul>
                            <volist name="list" id="vo" offset='1'>
                            <li class="pr wimg">
                                <img src="{:get_default_img($vo['image_id'])}" alt="" />
                                <div class="kvplayer pa">
                                    <a href="{:U('video/read',array('id'=>$vo['id']))}" title="{$vo.title}" target="_blank">
                                        <div class="kvplayer_a"><img src="__IMG__/jkd_40.png" alt="" /></div>
                                    </a>
                                </div>
                            </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="introduction_h1 bgf8">
                <div class="center">
                    <div class="introduction_list introduction_list2 clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3 mt20">
                                <b>课程图集</b>
                            </div>
                        </div>
                    </div>
                    <ul class="kvideo_ty13 clearfix">
                        <news limit="8" where="is_recommend=1 and cid=58" order="id DESC" >
                        <li class="pr">
                            <div class="kvideo_ty21">
                                <div class="kvideo_ty22 wimg pa">
                                    <a href="{:U('news/read',array('id'=>$new['id']))}" title="">
                                        <img src="{:get_default_img($new['image_id'])}" alt="" />
                                    </a>
                                </div>
                                <div class="kvideo_ty23">
                                    <b>{:cutStr($new['title'],30,0)}</b>
                                </div>
                            </div>
                        </li>
                        </news>
                    </ul>
                </div>
            </div>
            <div class="introduction_h2">
                <div class="center">
                    <div class="introduction_list introduction_list3 clearfix">
                        <i class="icon fl"></i>
                        <div class="introduction_ty2 fl">
                            <div class="introduction_ty3 mt20">
                                <b>诊断报告</b>
                            </div>
                        </div>
                    </div>
                    <div class="kvideo_ty14">
                        <div class="kvideo_ty15 tac">
                            <b>每日前10名咨询免费获得网络营销行业诊断报告一份</b>
                        </div>
                        <div class="clearfix">
                            <div class="kvideo_ty16 fl">

                            </div>
                            <div class="kvideo_ty17 fl">
                                <div class="kvideo_ty18">
                                    <b>请准确填写下列信息，我们的客服将在24小时内发给您！</b>
                                </div>

                                <form action="{:U('message/add')}" method="post">
                                    <div class="kvideo_ty19">
                                        姓&nbsp;&nbsp;&nbsp;&nbsp;名：&nbsp;&nbsp;<input name="name" id="uname" value="" type="text"  />
                                    </div>
                                    <div class="kvideo_ty19">
                                        电&nbsp;&nbsp;&nbsp;&nbsp;话：&nbsp;&nbsp;<input name="tel" id="utel" value="" type="text" />
                                    </div>
                                    <div class="kvideo_ty19">
                                        验&nbsp;证&nbsp;码：
                                        <input class="input" name="verify_code" id="verify_code" type="text" value="" style="width:100px;" />
                                        <img src="{:U('Base/verify_code')}"  title="看不清？单击此处刷新" onclick="this.src+='?rand='+Math.random();"  style="cursor: pointer; vertical-align: middle;"/>
                                    </div>
                                    <input type="submit" class="kvideo_ty20" value="" onclick="return check()" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="introduction_h6 pr wimg">
                <div class="introduction_ty24 pa">
                    <div class="center">
                        <!-- 我们最近的课程安排是在<span class="css29343">2014</span>年<span class="css29343">12</span>月<span class="css29343">11</span>日， -->
                        九口袋课堂欢迎您
                        <br />心动不如行动，赶快到现场参与我们的活动吧！
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--content结束-->
<include file="Base:footer" />