<include file="Base:header" />
	<div id="content">
		<include file="Base:inside" />
<!-- 案例 -->
        <div class="introduction">
            <div class="main_t center tac">
                <b>{:L('T_VIDEO')}</b>
            </div>
            <div class="casede center clearfix">
                <div class="casede_t tac">
                    <b>{$info.title}</b>
                </div>
                <div class="casede_c">
                    <div style="margin:auto;width:550px;"><embed src="{$info.url}" type="application/x-shockwave-flash" width="550" height="400" autostart="false" loop="true">
                    </div>
                </div>

                <div class="bshare-custom" style="margin: 20px 0 50px 625px;"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
            </div>
        </div>


<include file="Base:footer" />